<h1>Edit user</h1>

<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
 
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<h2>Rails form_for Form</h2>
<%= form_for @user do |f| %>
  <%= f.label :username, "Username:" %><br>
  <%= f.text_field :username, placeholder: "Your new username"%><br><br>
  <%= f.label :email, "Email address:" %><br>
  <%= f.text_field :email, :value => "user@example.com" %><br><br>
  <%= f.label :password, "Password:" %><br>
  <%= f.password_field :password %><br><br>
  <%= f.submit "Submit" %>
<% end %>