<h1>User signup</h1>

<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
 
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<h2>HTML Form</h2>
<form method="post" action="/users", accept-charset="UTF-8">
  <label for="username">Username:</label><br>
  <input type="text" name="user[username]"><br><br>
  <label for="email">Email address:</label><br>
  <input type="text" name="user[email]"><br><br>
  <label for="password">Password:</label><br>
  <input type="password" name="user[password]"><br><br>
  <input type="submit" value="Submit">
</form>

<h2>Rails form_tag Form</h2>
<%= form_tag("/users", method: "post") do %>
  <%= label_tag(:username, "Username:") %><br>
  <%= text_field_tag(:username) %><br><br>
  <%= label_tag(:email, "Email address:") %><br>
  <%= text_field_tag(:email) %><br><br>
  <%= label_tag(:password, "Password:") %><br>
  <%= password_field_tag(:password) %><br><br>
  <%= submit_tag("Submit") %>
<% end %>

<h2>Rails form_for Form</h2>
<%= form_for @user do |f| %>
  <%= f.label :username, "Username:" %><br>
  <%= f.text_field :username, placeholder: "Your new username"%><br><br>
  <%= f.label :email, "Email address:" %><br>
  <%= f.text_field :email, :value => "user@example.com" %><br><br>
  <%= f.label :password, "Password:" %><br>
  <%= f.password_field :password %><br><br>
  <%= f.submit "Submit" %>
<% end %>